<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= author.email %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= author.bio %>
  </p>

  <p>
    <strong>Favorite number:</strong>
    <%= author.favorite_number %>
  </p>

  <p>
    <strong>Aweka:</strong>
    <%= author.aweka %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= author.birthday %>
  </p>

</div>
