<div id="<%= dom_id mainboard %>">
  <p>
    <strong>Product name:</strong>
    <%= mainboard.product_name %>
  </p>

  <p>
    <strong>Processors suported:</strong>
    <%= mainboard.processors_suported %>
  </p>

  <p>
    <strong>Qtd slots ram:</strong>
    <%= mainboard.qtd_slots_ram %>
  </p>

  <p>
    <strong>Max memory ram:</strong>
    <%= mainboard.max_memory_ram %>
  </p>

  <p>
    <strong>Video board:</strong>
    <%= mainboard.video_board %>
  </p>

</div>
