<div id="<%= dom_id order %>">
  <p>
    <strong>Name order:</strong>
    <%= order.name_order %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= order.author_id %>
  </p>

  <p>
    <strong>Processor:</strong>
    <%= order.processor_id %>
  </p>

  <p>
    <strong>Mainboard:</strong>
    <%= order.mainboard_id %>
  </p>

  <p>
    <strong>Memoryram:</strong>
    <%= order.memoryram_id %>
  </p>

  <p>
    <strong>Videoboard:</strong>
    <%= order.videoboard_id %>
  </p>

</div>
