<%= form_with(model: processor) do |form| %>
  <% if processor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(processor.errors.count, "error") %> prohibited this processor from being saved:</h2>

      <ul>
        <% processor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :product_name, style: "display: block" %>
    <%= form.text_field :product_name %>
  </div>

  <div>
    <%= form.label :brand, style: "display: block" %>
    <%= form.text_field :brand %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
