<p style="color: green"><%= notice %></p>

<%= render @processor %>

<div>
  <%= link_to "Edit this processor", edit_processor_path(@processor) %> |
  <%= link_to "Back to processors", processors_path %>

  <%= button_to "Destroy this processor", @processor, method: :delete %>
</div>
