<!DOCTYPE html>
<html>
  <head>
    <title>Coretest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="menu">
  <div class="api"><br>

                  <%= yield %>
  </div>
            <ul class="list-menu"><br>
            <li class="list-menu-item"><a class="menu-btn" href='/'>HOME</a></li><br>
            <li class="list-menu-item"><a class="menu-btn" href='/authors'>Clientes</a></li><br>
            <li class="list-menu-item"><a class="menu-btn"href='/orders'>Pedidos</a></li><br>
            <li class="list-menu-item"><a class="menu-btn" href='/videoboards'>Placas de video</a></li><br>
            <li class="list-menu-item"><a class="menu-btn" href='/memoryrams'>Memória Ram</a></li><br>
            <li class="list-menu-item"><a class="menu-btn" href='/mainboards'>Placa mãe</a></li><br>
            <li class="list-menu-item"><a class="menu-btn" href='/processors'>Processadores</a></li><br>
            <li class="list-menu-item"><a class="menu-btn" href='#'></a></li><br>
            <li class="list-menu-item"><a class="menu-btn" href='#'></a></li><br>
            <li class="list-menu-item"><a class="menu-btn" href='#'></a></li><br>
            <li class="list-menu-item"><a class="menu-btn" href='#'></a></li><br>
            <li class="list-menu-item"><a class="menu-btn" href='#'></a></li><br>
            <li class="list-menu-item"><a class="menu-btn" href='#'></a></li><br>
            <li class="list-menu-item"><a class="menu-btn" href='#'></a></li><br>
            <li class="list-menu-item"><a class="menu-btn" href='#'></a></li><br>

            </ul>
  </div>
  Lista de API:
  <ul>
      <li><a href='/api/v1/api_authors/index'>Clientes</a></li>
  </ul>

  </body>
</html>
